# If, elif, else statements

In [3]:
hungry = True
if hungry:
    print("It's true")

It's true

In [5]:
hungry = False
if hungry:
    print("Feed me")
else:
    print("I'm not hungry")

I'm not hungry

In [7]:
loc = 'Bank'

if loc == "Auto Shop":
    print("Cars are cool!")
elif loc == "Bank":
    print("Money is cool!")
elif loc == "Store":
    print("Welcome to the store")
else:
    print("I don't know much")

Money is cool!

# For loops

In [8]:
my_iterable = [1,2,3]

In [12]:
for i in my_iterable:
    print(i)

1
2
3

In [15]:
#check for even

for i in my_iterable:
    if i % 2 == 0:
        print(i)
    else:
        print(f'Odd number is {i}')

Odd number is 1
2
Odd number is 3

In [20]:
list_sum = 0

for i in my_iterable:
    list_sum += i
print(list_sum)

6

In [22]:
my_string = "Hello World"
list1 = []

for letter in my_string:
    list1.append(letter)
print(list1)

['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd']

In [23]:
my_list = [(1,2), (3,4), (5,6), (7,8)]

In [24]:
len(my_list)

4

In [27]:
#Tupple unpacking
for (a,b) in my_list:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [28]:
my_list = [(1,2,3), (4,5,6), (7,8,9)]

In [30]:
for a,b,c in my_list:
    print(b)

2
5
8

In [33]:
d = {'k1': 1, 'k2': 2, 'k3': 3}

for value in d.values():
    print(value)

1
2
3

In [34]:
for key, value in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

# While loops

In [35]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

# break, continue, pass

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    
    
Thinking about <code>break</code> and <code>continue</code> statements, the general format of the <code>while</code> loop looks like this:

    while test: 
        code statement
        if test: 
            break
        if test: 
            continue 
    else:

<code>break</code> and <code>continue</code> statements can appear anywhere inside the loopâ€™s body, but we will usually put them further nested in conjunction with an <code>if</code> statement to perform an action based on some condition.

Let's go ahead and look at some examples!

In [36]:
x = [1,2,3]

for item in x:
    #comment

IndentationError: expected an indented block (2448964942.py, line 4)

In [38]:
x = [1,2,3]

for item in x:
    #comment
    pass #used to avoid syntax error, this is what usual developers do
print('end of my script')

end of my script

In [39]:
mystring = 'Sammy'

In [40]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [41]:
x = 0

while x < 5:
    if x ==2:
        break
    print(x)
    x += 1

0
1

In [42]:
#continue is used very rarely

# Useful operators

In [43]:
mylist = [1,2,3]

In [45]:
for num in range(10):
    print(num) #until 10 not including

0
1
2
3
4
5
6
7
8
9

In [46]:
for num in range(3,10):
    print(num) #until 10 not including

3
4
5
6
7
8
9

In [47]:
for num in range(0,11,2):
    print(num) #step size 2

0
2
4
6
8
10

In [49]:
list(range(0,11,2)) #generator is special type of function that will not save giant list in the storage

[0, 2, 4, 6, 8, 10]

In [52]:
index_count = 0

In [53]:
for letter in "abcde":
    print('At index {} the letter is {}'.format(index_count, letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [55]:
index_count = 0
word = "abcde"

for letter in word:
    print(word[index_count])
    index_count +=1

a
b
c
d
e

In [62]:
#return in the form of tupples

word = "abcde"

for item, letter in enumerate(word):
    print(item)
    print(letter)
    print("\n")

0
a


1
b


2
c


3
d


4
e

In [63]:
my_list = [1,2,3,4,5]
my_list2 = ['a','b','c','d','e']

In [65]:
#unzips the list
for item in zip(my_list, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [67]:
my_list = [1,2,3,]
my_list2 = ['a','b','c','d','e']

#unzips only until the minimum list
for item in zip(my_list, my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [68]:
2 in [1,2,3]

True

In [69]:
"a" in "ward"

True

In [70]:
"a" in "word"

False

In [71]:
'mykey' in {'mykey': 365}

True

In [74]:
d = {'mykey': 365}

365 in d.values()

True

In [75]:
my_list = [1,4,6,8,2154,65]

min(my_list)

1

In [76]:
max(my_list)

2154

In [77]:
from random import shuffle

In [80]:
mylist = [1,2,3,4,5,6,7,8,9,10]
shuffle(mylist)

In [81]:
mylist

[7, 8, 9, 6, 10, 1, 2, 5, 4, 3]

In [82]:
random_list = shuffle(mylist)

In [84]:
type(random_list)

NoneType

In [86]:
from random import randint

In [88]:
my_num = randint(0,100)

In [89]:
my_num

92

In [91]:
result = input('Enter a number here:')

Enter a number here:50

In [92]:
result

'50'

In [93]:
result = input("What is your favourite colour?")

What is your favourite colour?green

In [94]:
result

'green'

In [97]:
result = input('Enter a number here:')

Enter a number here:50

In [98]:
type(result)

str

In [99]:
result = int(input('Enter a number here:')) #input always accepts float objects

Enter a number here:50

In [100]:
type(result)

int

# List comprehension

In [101]:
mystring = "hello"

In [102]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [103]:
mylist

['h', 'e', 'l', 'l', 'o']

In [106]:
#in the format of list comprehension
mylist = [letter for letter in mystring]

In [107]:
mylist

['h', 'e', 'l', 'l', 'o']

In [110]:
mylist = [x for x in 'word']
mylist

['w', 'o', 'r', 'd']

In [112]:
mylist = [x for x in range(0,11)]
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [113]:
mylist = [x**2 for x in range(0,11)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [117]:
mylist = [x for x in range(0,11) if x%2==0]
mylist

[0, 2, 4, 6, 8, 10]

In [118]:
celcius = [0,10,20,34.5]
fahrenheit = [((9/5)*temp + 32) for temp in celcius]
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [119]:
fahrenheit = []

for temp in celcius: 
    fahrenheit.append(((9/5)*temp + 32))
print(fahrenheit)

[32.0, 50.0, 68.0, 94.1]

In [125]:
#This is confusing and hard to read
results = [x if x%2==0 else "ODD" for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [122]:
mylist = []

for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [123]:
mylist = [x*y for x in [2,4,6] for y in [100,200,300]]

In [124]:
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]